/****RAD Combobox***/

.RadComboBox
{
    padding: 1px;
    border: 1px solid #C0C0C0;
    margin: 2px 0px 2px 0px !important;
    background-color:#fff;
}
div.RadComboBox td.rcbArrowCellHidden, div.RadComboBox .rcbArrowCellHidden a
{
    width: 25px !important;
}
.RadComboBox .rcbArrowCell a
{
    height: 21px!important;
}
.RadComboBox .rcbReadOnly td.rcbArrowCell a
{
    border: 1px solid #362525;
    width: 24px !important;
    background-color: #31415B;
    margin: 1px;
    background-image: url('../_images/_RadDropdownImg/DDLArrow.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
.RadComboBox .rcbReadOnly td.rcbArrowCell a:hover
{
    background-color: #5F6A92;
}
.RadDdl
{
    padding: 0;
    background-repeat: no-repeat;
    text-transform: capitalize !important;
    height: 25px;
    width: 210px!important;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.RD190
{
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px !important;
    cursor: pointer;
    margin-left: 0px;
}
#ContentPlaceHolder1_ctl00$ContentPlaceHolder1$ddl???{float:left;}
.RD300
{
    background-image: none;
    width: 300px;
}
.RD200
{
    background-image: none;
    background-repeat: no-repeat;
    width: 200px;
}
.RD200Dis
{
    background-image: none;
    background-repeat: no-repeat;
    width: 200px;
}
.RD100
{
    background-image:none;
    width: 100px;
}
.RD300Disabled
{
    background-image: none;
    width: 300px;
}
.RD200Disabled
{
    background-image: none;
    background-repeat: no-repeat;
    width: 200px;
    float: left;
}
.RD100Disabled
{
    background-image: none;
    width: 100px;
}
.RD300Highlighted
{
    background-image: none;
    width: 300px;
}
.RD200Highlighted
{
    background-image: none;
    background-repeat: no-repeat;
    width: 200px;
}
.RD100Highlighted
{
    background-image:none;
    width: 100px;
}

.radddl .RadComboBoxDropDown
{
    margin-top: 8px !important;
    margin-left: -12px !important;
    
}
.radddlsmall .RadComboBoxDropDown
{
    margin-top: 8px !important;
    margin-left: -12px !important;
    width: 70px !important;
}
.combobox-panel
{
    height: 112px;
    background: transparent url('Img/_RadDropdownImg/background.png') no-repeat center center;
    float: left;
    text-align: center;
    margin: 50px 0;
}
.combobox-panel .RadComboBox
{
    margin-top: 44px;
}
.qsfConfig
{
    padding: 20px 0 0 0;
}
.RadComboBox_Default .rcbInputCellLeft, .RadComboBox_Default .rcbInputCellRight, .RadComboBox_Default .rcbArrowCellLeft, .RadComboBox_Default .rcbArrowCellRight
{
    background-image: none;
}
.RadComboBox_Default .rcbInputCellLeft, .RadComboBox_Default .rcbInputCellRight, .RadComboBox_Default .rcbArrowCellLeft, .RadComboBox_Default .rcbArrowCellRight
{
    background-image: none !important;
}
.rcbSlide
{
    width: 188px !important;
    margin-left: 0px !important;
}
.RadComboBoxDropDown
{
    width: 198px !important;
    left: 0px !important;
}

.RadComboBoxDropDown RadComboBoxDropDown_Default .rcbScroll .rcbWidth
{
    height: 188px !important;
}
        
/*********************************************/